<% var n = "<font color=green>GREEN</font>";
    var old = 18; %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xuyen. Bui</title>
</head>

<body>
    <div>
        <h1 style="color: blue;">BUI TRONG XUYEN</h1>
        <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
        </ul>
    </div>
    <div>
        <h1><%- n %></h1>
        <% if (old >= 18) { %>
            <h3>You are enough old!</h3>
        <% } else { %>
            <h3>You aren't enough old!</h3>
        <% } %>
    </div>
</body>

</html>